@font-face {
    font-family: 'Rubik-bold';
    src: url('fonts/Rubik-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Rubik';
    src: url('fonts/Rubik-Light.ttf') format('truetype');
}

* {
    scroll-behavior: smooth;
}

p {
    font-size: 24px;
}

a {
    text-decoration: none;
    color: white;
}

h1 {
    font-family: 'Rubik-bold';
    font-size: 32px;
}

footer {
    display: none;
}