@font-face {
    font-family: 'Rubik';
    src: url(fonts/Rubik-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Rubik SemiBold';
    src: url(fonts/Rubik-SemiBold.ttf) format('truetype');
}


/**
Colors: 
Navigation: rgba(50, 185, 178, 0.555), rgba(50, 185, 178, 0)
*/

body {
    font-family: Rubik;
    padding: 0;
    margin: 0;
}

h1,
h2 {
    font-family: Rubik SemiBold;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-header {
    height: 100vh;
}

.section {
    height: 100vh;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-image: linear-gradient( rgba(50, 185, 178, 0.555), rgba(50, 185, 178, 0));
}

nav ul {
    padding-left: 0%;
}

nav li {
    margin: 10px;
    padding: 0px;
}

.item {
    background-color: rgba(120, 199, 195, 0.788);
    padding: 20px;
    justify-content: space-between;
}

.item h2 {
    width: 300px;
}

.item img {
    width: 100px;
    max-height: 150px;
    margin-right: 30px;
}

.button-container {
    text-align: center;
}

.button-container button {
    border: none;
    background-color: rgb(0, 182, 30);
    color: white;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    font-family: 'Rubik';
    margin-left: 20px;
}

.button-container button:active {
    color: green;
}

.price {
    color: white;
}

.itemlist li {
    margin: 10px;
}

.background-orange {
    background-color: rgb(216, 122, 0);
    color: white;
}

.background-violet {
    background-color: blueviolet;
    color: white;
}

.background-blue {
    background-color: rgb(19, 0, 185);
    color: white;
}

.background-green {
    background-color: rgb(0, 136, 23);
    color: white;
}

.background-grey {
    background-color: rgba(120, 199, 195, 0.788);
    color: rgb(0, 0, 0);
}