/* cyrillic-ext */

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500;900&display=swap');
body {
    font-family: 'Rubik';
}

a {
    text-decoration: none;
    color: black;
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    align-items: center;
    font-weight: 900;
}

nav img {
    max-width: 100px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin: 10px;
    padding: 0;
}

.header {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /*background-color: aquamarine;*/
}

.inner-header {
    /*background-color: blueviolet;*/
    text-align: center;
}

.header img {
    height: 60vh;
}

.todays-selection {
    /*background-color: aquamarine;*/
    text-align: center;
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.itemcontent {
    width: 30vw;
}

.itemcontent img {
    width: 28vw;
}

.itemcontent ul {
    list-style: none;
    padding: 0px;
}

.itemcontent button {
    font-weight: 900;
    border: none;
    background-color: rgb(78, 196, 160);
    padding: 15px;
    border-radius: 10%;
}

.itemcontent button:hover {
    color: white;
    transition-duration: 0.25s;
}

.itemcontent button:not(:hover) {
    color: black;
    transition-duration: 0.25s;
}

.common {
    background-color: rgb(179, 179, 179);
}

.uncommon {
    background-color: rgb(5, 187, 20);
}

.rare {
    background-color: rgb(57, 132, 194);
}

.epic {
    background-color: blueviolet;
}

.legendary {
    background-color: rgb(255, 198, 93);
}