@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500;900&display=swap');
body {
    font-family: 'Rubik';
}

h2 {
    font-weight: 500;
}

.login {
    background-color: teal;
    text-align: center;
    height: 48vh;
}

.register {
    background-color: orange;
    text-align: center;
    height: 48vh;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}